@media screen and (max-width: 1570px) {
	.container {
		width: 90%;
	}
}


@media screen and (max-width: 1000px) {
	.section__main {
		float: none;
		width: 100%;
	}

	.main__heading {
		float: none;
		width: 100%;
		text-align: center;
	}

	.main__content{
		float: none;
	    margin-left: auto;
	    margin-right: auto;
	}

	.btn__start {
		float: none;
	    margin-left: auto;
	    margin-right: auto;
	}

	.btns_public{
		float: none;
		display: flex;
		width: 30%;
	    margin-left: auto;
	    margin-right: auto;
	}

	.btns_public a{
		float: none;
	    margin-left: auto;
	    margin-right: auto;
	}

	.news__content {
		float: none;
		margin-top: 20px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.copyright{
		float: none;
		text-align: center;
		width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.copyright img{
		float: none;
	    margin-left: auto;
	    margin-right: auto;
	}
}


@media screen and (max-width: 780px) {
	.container {
		width: 90%;
	}

	.btns_public{
		width: 40%;
	}

	.lnr {
		font-family: Linear;
		float: right;
		font-size: 45px;
		display: block;
	}

	.menu {
		display: none;
	}

	.heading{
		margin-top: 50px;
	}

@media screen and (max-width: 530px) {

	.main__container {
		float: none;
		width: 95%;
	    margin-left: auto;
	    margin-right: auto;
	}

	.news__content {
		display: none;
	}

	.btns_public{
		width: 50%;
	}

	.main__heading {
		font-size: 50px;
	}

	.main__content {
		font-size: 19px;
		width: 90%;
	}

}

@media screen and (max-width: 530px) {
	.main__heading { 
		margin-left: -5%;
	}
}

@media screen and (max-width: 388px) {
	.main__heading { 
		font-size: 40px;
		margin-left: 0%;
	}

	.main__content {
		display: inline-block;
		width: 100%;
		font-size: 18px;
		margin-bottom: 40px;
	}

	.btn__start {
		font-size: 20px;
		width: 220px;
		background-position: bottom -24px right -25px;
		margin-left: auto;
	}
}

@media screen and (max-width: 338px) {
	.main__heading { 
		font-size: 37px;
	}
	.main__content {
		font-size: 16px;
	}
}