::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
}
	
::-webkit-scrollbar-track {
	background-color:black;
}
	
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#3947A2;
}
	
::-webkit-scrollbar-thumb:hover{
	background-color:#1F2A75;
}
	
::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}
::-webkit-scrollbar{
	width: 4px;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

@font-face {
	font-family: "Gilroy-Bold"; 
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
	font-weight: bold;
	font-style: bold;
} 
@font-face {
	font-family: "Gilroy-Medium"; 
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'Gilroy-Light';
	src: url('../fonts/Gilroy-Light.ttf');
}
@font-face {
	font-family: 'Linear';
	src: url('../fonts/Linearicons-Free.ttf');
}
body {
	font-family: Gilroy-Bold;
	font-style: bold;
	padding: 0;
	margin: 0;
	color: #F5F5F5;
	height: 100%;
	background-color: black;
}

div {
	box-sizing: border-box;
}

/* Header */
.container{
	width: 1406px;
	margin: 0 auto;
}


.heading{
	margin-top: 76px;
	padding-bottom: 55px;
}

.show_logo {
	display: none;
}

.l__text{
	float: right;
	text-align: left;
	margin-left: 10px;
	margin-top:-5px; 
}

.logo__text{
	float: left;
	-moz-transition: all 0.45s ease-out;
	-o-transition: all 0.45s ease-out;
	-webkit-transition: all 0.45s ease-out;
}
.logo__text:hover{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
}
.l__text {
  	color: #FFF;
}

.BOBR{
	font-size: 36px;
	margin:0px;
}

.ROLEPLAY{
	font-family: Gilroy-Medium; 
	font-size: 14px;
	letter-spacing:3.5px;
	margin:0px;
}

header .show_menu {
	float: none;
	display: flex;
	flex-direction: column;
}

header .show_menu a {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
}
.change__heading{
	display: flex;
	flex-direction: column;
}

.show_lnr {
	text-align: end;
}

.lnr {
	display: none;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 8px;
	float: right;

}

.menu a:hover {
	  color: #FFF;
	  -moz-transition: all 0.45s ease-out;
	  -o-transition: all 0.45s ease-out;
	  -webkit-transition: all 0.45s ease-out;
}

.menu a {
	font-family: Gilroy-Medium; 
	color: #707070;
	text-decoration: none;
	font-size: 14px;
	float: left;
	display: block;
	margin-right: 31px;
}

.button_play{
	transition: all 0.3s ease;
	background: #3947A2;
	border-radius: 7px;
	display: block;
	width: 140px;
	padding: 10px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	margin-top: -10px;
	-moz-transition: all 0.45s ease-out;
	-o-transition: all 0.45s ease-out;
	-webkit-transition: all 0.45s ease-out;
}

.menu .button_play {
	  color: #FFF;
	  font-family: "Gilroy-Medium"; 

}

.button_play:hover{
	  background: #FFF;
	  -webkit-transform: scale(1.02);
	  -moz-transform: scale(1.02);
	  -o-transform: scale(1.02);
}

.menu .button_play:hover{
  	color: #3947A2;
  	font-weight: bold;
}

.menu .active{
	color: #FFF;
}

.menu .active_play{
	background-color: #3947A2;
	color: #FFF;
}
.menu .active_play:hover{
	background-color:  #FFF;
	color: #3947A2;
}
/* Footer */

.footering{
	margin-top: 61px;
	margin-bottom: 30px;
}
.mouse_scroll{
	display: flex;
	float: left;
}
.mouse_scroll p{
	font-size: 14px;
	font-family: "Gilroy-Medium";
	margin: 0 auto;
	padding-left: 15px;
	padding-top: 10px;

}
.copyright{
	float: right;
}
.copyright p{
	font-size: 12px;
	font-family: "Gilroy-Medium";
	margin: 0 auto;
	padding-left: 15px;
	padding-top: 10px;

}
.copyright img{
float: right; 
margin-top: -12px;
filter: brightness(.3); 

}
.copyright img:hover{
	filter: brightness(1);

}
.mouse_scroll img{
	width: 25px; 
	height: 36px;
}

.mouse_scroll {
	animation: pulse 2.5s linear infinite;
}
.mouse_scroll:hover {
	animation: none;
}
  
@keyframes pulse{
	0%{
	  opacity: 1;
	}
	50%{
	  opacity: 0.3;
	}
	100%{
	  opacity: 1;
	}
}